<mat-radio-group
  [disabled]="isDisabled"
  [value]="value"
  (change)="resetSubItems()"
  (blur)="onTouch()"
>
  <mat-radio-button
    (change)="onChange($event.value)"
    value="{{ item.key || item }}"
    *ngFor="let item of option.data"
    >{{ item.val || item }}</mat-radio-button
  >
</mat-radio-group>

<ng-container *ngIf="isShowSubItems">
  <ng-container *ngFor="let su of option.subItems; let i = index">
    <label class="head">{{ su.label }}</label>
    <mat-radio-group>
      <mat-radio-button
        (change)="setSubValue($event.value, su.code)"
        value="{{ item.key || item }}"
        *ngFor="let item of su.data"
        >{{ item.val || item }}</mat-radio-button
      >
    </mat-radio-group>
  </ng-container>
</ng-container>
